.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

h1 {
  margin: 0 40px 24px;
  padding-top: 24px;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2em;
}

h2 {
  margin: 40px 40px 20px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  padding-bottom: 23px;
}

.description {
  max-width: 750px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 21px;
  line-height: 1.2em;
}

.version-grid-ios {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.version-grid-container {
  margin-bottom: 40px;
}

.clear-grid-space {
  z-index: 10;
  background-color: #fff;
  min-width: 240px;
  padding: 4px;
  position: sticky;
  left: 0;
}

.os-column {
  -webkit-backdrop-filter: saturate(180%) blur(12px);
  backdrop-filter: saturate(180%) blur(12px);
  background-color: #fffc;
  min-width: 100px;
  padding: 8px 4px;
  position: sticky;
  top: 0;
}

.os-image {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.os-name {
  text-align: center;
  font-weight: 500;
}

.os-launch-date {
  text-align: center;
  font-size: 11px;
  line-height: 1rem;
}

.device-info {
  background-color: #fff;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 50px;
  padding: 4px 4px 4px 40px;
  display: flex;
  position: sticky;
  left: 0;
}

.device-name {
  line-height: 1.4rem;
}

.color-div {
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: flex;
}

.color {
  background-color: #f5f5f7;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 1px 1px #0000001a;
}

.color.os-green {
  background-color: #64b94d;
}

.color.os-red {
  background-color: #dd3c43;
}

.empty-column {
  min-width: 30px;
  padding: 4px;
}

.version-grid-ipados {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.version-grid-ipod {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer {
  -webkit-backdrop-filter: saturate(180%) blur(12px);
  backdrop-filter: saturate(180%) blur(12px);
  background-color: #fffc;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  font-size: 12px;
  display: flex;
  position: fixed;
  inset: auto auto 0% 0%;
}

.section.ipod-touch {
  padding-bottom: 60px;
}

@media screen and (max-width: 991px) {
  .heading-2 {
    font-size: 54px;
  }

  .footer {
    flex-flow: column;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .description {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }

  .clear-grid-space {
    min-width: 220px;
  }

  .device-info {
    padding-left: 20px;
    position: static;
  }

  .heading-2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 42px;
  }

  .section.ipod-touch {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .heading-2 {
    font-size: 32px;
  }

  .section.ipod-touch {
    padding-bottom: 100px;
  }
}


